* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .bg-image {
    background-image: url('/images/h_img.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
} */

.text-white h2 {
    /* border: 2px solid black; */
    padding-top: 20px;
    line-height: 50px;
    font-weight: 400;

}

.d-flex {
    /* border: 2px solid black; */
    height: inherit;
}

.mask {
    /* border: 2px solid red; */
    height: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row p {
    line-height: 40px;
}

.about {
    padding-top: 50px;
    padding-bottom: 30px;
}

/* 
.services {
    background-image: url('/images/s_image.jpg');
    height: 500px;
    background-repeat: no-repeat;
    color: white;
} */

.text {
    display: flex;
    justify-content: center;
    align-content: center;
}

.services-margin {
    display: flex;
    justify-content: center;
    align-content: center;
    height: inherit;
}

.text p {
    line-height: 40px;
}

.design,
.portfolio,
.product {
    height: min-content;
}

.designs {
    display: flex;
    flex-direction: row;
}

.designs p {
    line-height: 25px;
}

#design-image,
#portfolio-image,
#productdev-image {
    display: none;
    padding-top: 50px;
}

.tiles {
    display: flex;
    flex-direction: column;
}

.tiles .one,
.tiles .two {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* margin: 10px; */
}

.uno img,
.deuce img,
.tres img,
.cuatro img {
    /* margin: 5px; */
    height: 80%;
}

.uno2 img,
.deuce2 img,
.tres2 img,
.cuatro2 img {
    /* margin: 5px; */
    height: 80%;
}

#contact-us{
    position: relative;
    top: -50px;
    /* height: 100px; */
    /* display: flex;
    align-content: center;
    justify-content: center; */
    color: white;
    /* background-color: #635e5b; */
    /* font-weight: 900px; */
}
.footer-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-row{
    position: relative;
    /* top: 50px; */
    left: 25%;
    /* border: 3px yellow solid; */
    height: min-content;
}
.names{
    /* border: 3px rgb(255, 0, 0) solid; */
    display: flex;
    justify-content: center;
    gap: 5px;
}
#name, #email{
    background: transparent;
    border: 1px #c1c1c1 solid;
    border-radius: 3px;
    /* border: ; */
}
#email-message{
    position: relative;
    top: 20px;
    /* height: 500px; */
    background: transparent;
    /* border: none; */
    color: white;
    font-size: medium;
}

.name{
    border: #c1c1c1 1px;
}

#name::placeholder{
    color: white;
}
#email::placeholder{
    color: white;
}
.footer-socials{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.socials{
    display: flex;
    justify-content: space-evenly;
    /* background-color: salmon; */
}
.col-md-2{
    /* background-color: black; */
    /* display: none; */
}

.copyright{
    text-align: center;
    position: relative;
    top: 30px;
}
.flex{
    display: flex;
}
.copyright p{
    line-height: 10px;
}
.submit{
    position: relative;
    top: 30px;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: flex-end;
}
.submit input{
    width: 20%;
    background-color: #635e5b;
    transition: .3s;
    border: #c1c1c1 1px solid;
    border-radius: 5px;
    color: white;
    letter-spacing: 3px;
}

.submit input:hover{
    background-color: #c1c1c1;

}

#dark-screen1, #dark-screen2, #dark-screen3, #dark-screen4,  #dark-screen5,  #dark-screen6,  #dark-screen7, #dark-screen8 {
  display: none;
  background-color: #fff .9;
  box-shadow: 0 4px 2px rgba(0,0,0,0.02),
  0 8px 6px rgba(0,0,0,0.03),
  0 16px 10px rgba(0,0,0,0.04),
  0 26px 18px rgba(0,0,0,0.05);
  /* height:80% ; */
  width: 100%;
  height: 70%;
}