* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.bg-image {
    background-image: url('images/h_img.jpg');
    height: 800px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-white h2 {
    /* border: 2px solid black; */
    padding-top: 20px;
    line-height: 50px;
    font-weight: 400;

}

.d-flex {
    /* border: 2px solid black; */
    height: inherit;
}

.mask {
    /* border: 2px solid red; */
    height: 100%;
}

.row {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row p {
    line-height: 40px;
}

.about {
    padding-top: 50px;
    padding-bottom: 30px;
}

.services {
    background-image: url('images/s_image.jpg');
    height: 500px;
    background-repeat: no-repeat;
    color: white;
}

.text {
    display: flex;
    justify-content: center;
    align-content: center;
}

.services-margin {
    display: flex;
    justify-content: center;
    align-content: center;
    height: inherit;
}

.text p {
    line-height: 40px;
}

.design,
.portfolio,
.product {
    height: min-content;
}
.designs{
    display: flex;
    flex-direction: row;
}
.designs p{
    line-height: 25px;
}
#design-image, #portfolio-image, #productdev-image{
    display: none;
    padding-top: 50px;
}